{% extends 'zapatillasweb/base.html' %}

{% block content %}


<div class="container mt-5">

    <div class="row">
        {% for p in entity %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img src="{{ p.imagen.url }}" class="card-img-top" alt="{{ p.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ p.nombre|title }}</h5>
                    <p class="card-text">{{ p.descripcion|linebreaks }}</p>
                    <p class="card-text"><strong>Precio: </strong>${{ p.precio|floatformat:2 }}</p>
                    <p class="card-text"><strong>Stock disponible: </strong>{{ p.stock }}</p>  <!-- Mostrar stock -->
                    <a href="{% url 'compra_producto' p.id %}" class="btn btn-primary btn-block">Comprar</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>No hay productos disponibles.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
